phpunit
phpunit.xml.dist
.phpcs.xml.dist
tests
bin
.vscode
vendor/
deploy/
!assets/vendor/
!assets/vendor/katex/
!assets/vendor/katex/contrib/
!assets/vendor/katex/contrib/auto-render.js
!assets/vendor/katex/contrib/auto-render.min.js
